.dropdown-menu{
    z-index: 1024;
}

.navbar{
    position: fixed;
    top: 0%;
    width:100%;
    z-index: 1024;
}

.profile-img
{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}